html 
    head

        script(src="js/countdown.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        link(href="css/countdown.css",type="text/css",rel="stylesheet")
        meta(charset="utf-8")
    
    body
        #header
        #mes
            h1 表彰式まで、あと    
        #counter
            #minute10.number 
                p 0
            #minute1.number 
                p 0
            .colon 
                p :
            #second10.number 
                p 0
            #second1.number 
                p 0
        #announce
                .text
                    p 東大大会だよ！
                .text
                    p ほんとうに東大大会かな?
