html 
    head

        script(src="js/countdown.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        link(href="css/countdown.css",type="text/css",rel="stylesheet")
        meta(charset="utf-8")
    
    body
        #header
        #mes
            h1 表彰式まで、あと    
        #counter
            #hour.number
                p 0
            .colon
                p :
            #minute10.number 
                p 0
            #minute1.number 
                p 0
            .colon 
                p :
            #second10.number 
                p 0
            #second1.number 
                p 0
        #announce
            .text
                p 東大大会だよ！
            .text
                p ほんとうに東大大会かな?
        
        #animation
            #cloud
                .cloud4
                    img(src="./img/cloud4.svg")
                    .text
                        img(src="./img/text.svg")
                .cloud3
                    img(src="./img/cloud3.svg")
                .cloud2    
                    img(src="./img/cloud2.svg")
            #gunnma
                .face
                    img(src="./img/face.svg")
                .hand
                    .left
                        img(src="./img/leftHand.svg")
                    .right
                        img(src="./img/rightHand.svg")
            .table
                img(src="./img/table.svg")
            
