html 
    head
        script(src="js/countdown.js")
        link(href="css/countdown.css",type="text/css",rel="stylesheet")
    
    body
            
        #counter
            #hour.number 
                p 0
            .colon 
                p :
            #minute10.number 
                p 0
            #minute1.number 
                p 0
            .colon 
                p :
            #second10.number 
                p 0
            #second1.number 
                p 0
        #announce
