html(lang="ja")
    head
    body
        form(action="./parse.php",method="POST")
            p hour
            input(name="hour")
            p minute
            input(name="minute")
            input(type="submit")
